<h2 style:"align:center">Register</h2>
<form action="/register" method="POST" >
    <input type="text" id="name" name="name"   placeholder="Enter Name" >
    <br>
    <input type="password" id="password" name="password" placeholder="Enter Password">
    <br>
    <input type="text" id="voterid" name="voterid"   placeholder="Enter VoterId" >
    <br>
    <input type="email" id="email" name="email"  placeholder="Email" >
    <br>
    <input type="text" id="tel" name="tel"  placeholder="Contact Number" >
    <br>
    <input type="text" id="address" name="address"  placeholder="Address">
    <br>
    
    <input type="date" id="dob" name="dob" placeholder="Date of birth" >
    <br>
    <input type="text" id="gender" name="gender"  placeholder="Enter gender" >
    <br>
    <button type="submit" >Register</button>
    </center>
    <br><br>
</form>