{%if status%}
<table >
    <thead>
       <tr>
          <th scope="col">ID</th>
          <th scope="col">Party</th>
        </tr>
    </thead>
    <tbody>
       <br><br><br><br>
       {% for item in list %}<tr>
          <td >{{ item['id'] }}</td>
          <td>{{ item['party'] }}</td>
          <td>
            <form method="post" action="/voting">
             <button name="button" value="{{item.party}}" >Vote</button>
            </form>

          </td>
       </tr>
       {% endfor %}
{%endif%}
<br>
{{message}}
<br>
<a href="/logout">LOGOUT</a><br>
    </tbody>
 </table>