<html>
    <head>
        <title>
            Course Registration System
        </title>
    </head>
    <body>
        <center>
            <h2 style="padding-top:200px;">NPTEL Course Registrations</h2><br>
            <form action="/" method="POST">
                <label for="uname">Username:</label><br>
                <input type="text" id="uname" name="uname"><br>
                <label for="pass">Password:</label><br>
                <input type="text" id="pass" name="pass"><br><br>
                <input type="submit" value="Submit">
            </form>
            <div>
                {%if error%}
                    <h4 style="margin-left: 4.5rem;">{{error}}</h4>
                {% endif%}
            </div><br>
            <a href="/studentsignup"> <button>Signup as Student</button> </a>
            <a href="/teachersignup"> <button>Signup as Faculty</button> </a>
        </center>
    </body>
</html>
