<html>
    <head>

    </head>
    <body>
        <center><br><br><br><br>
            <h2> Fill out the following details </h2>
            <form method="post" action="/requestor">
                <p>Enter Name:</p>
                <input type="text" name="name" >
                <p>Enter email:</p>
                <input type="email" name="email" >
                <p>Enter Phone number:</p>
                <input type="phone" name="contact" >
                <p>Enter Blood type:</p>
                <input type="radio" id="opositive" name="bloodtype" value="o+ve">
                <label for="opositive">O +ve</label><br><br>
                <input type="radio" id="onegative" name="bloodtype" value="o-ve">
                <label for="onegative">O -ve</label><br><br>
                <input type="radio" id="abpositive" name="bloodtype" value="AB+ve">
                <label for="abpositive">AB +ve</label><br><br>
                <p>Enter Location:</p>
                <input type="text" name="location" >
                <br>
                <p>Enter Number of units required:</p>
                <input type="text" name="unit" >
                <br><br>
                <input type="submit" value="submit">
        </center>
    </body>
</html>
