<html>
    <head></head>
    <body>
        <center><br><br><br><br><br>
            <h1>Mark Registration Portal</h1>
            <form action="/" method="POST">
            
            <p>Username:</p>
            <input type="text" id="email" name="email">
            
                <p>Password:</p>
                <input type="text" id="pass" name="pass">
                <br><br><br>
                
                <input type="submit" value="Submit">
            </form>

        </center>
    </body>
</html>
