<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

<table>
  <tr>
    <th>Register Number</th>
    
    <th>Name</th>

    <th>Year</th>
    <th>Mark1</th>
    <th>Mark2</th>
    <th>Mark3</th>
    <th>Mark4</th>
    <th>Mark5</th>
    <th>Result</th>
  </tr>
<tr>
<td>{{items.Regno}}</td>

<td>{{items.Name}}</td>

<td>{{items.Year}}</td>

<td>{{items.Mark_1}}</td>

<td>{{items.Mark_2}}</td>

<td>{{items.Mark_3}}</td>

<td>{{items.Mark_4}}</td>

<td>{{items.Mark_5}}</td>

<td>{{items.Result}}</td>
</tr>
</table>
