<html>
    <head>

    </head>
    <body>
        <h2>Enter the Student Details:</h2>
        <form action="#" method="POST">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="numer">Register Number:</label><br>
                <input type="text" id="numer" name="numer"><br>
                <label for="sem">SEM</label><br>
                <input type="text" id="sem" name="sem"><br>
                <label for="dept">Department:</label><br>
                <input type="text" id="dept" name="dept"><br>
                <label for="year">Year:</label><br>
                <input type="text" id="year" name="year"><br>
                <div class="mark" style="background-color: aquamarine; width: 20rem;">
                <label for="Mark1">Mark1:</label><br>
               
                <input type="text" id="Mark1" name="Mark1"><br>
                <label for="Mark1">Mark2:</label><br>
                <input type="text" id="Mark2" name="Mark2"><br>
                <label for="Mark1">Mark3:</label><br>
                <input type="text" id="Mark3" name="Mark3"><br>
                <label for="Mark1">Mark4:</label><br>
                <input type="text" id="Mark4" name="Mark4"><br>
                <label for="Mark1">Mark5:</label><br>
                <input type="text" id="Mark5" name="Mark5"><br><br>
            </div>
                <input type="submit" value="Submit">
        </form>
    </body>
</html>